<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		body {
			margin: 0;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333;
			background-color: #fff;
		}
		.msg {
			margin:30vh 0 0 0;
			display:flex;
		}
		.center {
			margin:auto;
			text-align: center;
		}
		.desc {
			color: #337ab7;
    		text-align: center;
			font-size: 36px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		a{
			color: #337ab7;
    		text-decoration: none;
		}
	</style>
</head>
<body>
	<section class="msg">
		<div class="center">
			<h3 class="desc">500. Что-то пошло не так..</h3>
			<h4>Вся инфа будет отправлена куда надо..</h4>
			<a href="/">Вернутся на главную</a>
		</div>
	</section>
</body>
</html>
