@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin:0;
	background:#eeeeee;
	font-family: 'Open Sans', sans-serif;
}


#caption {
	margin:1%;
	display: flex;
}

.logo {
	flex:auto 1 0;
}

.langs{
	color: gray;
	padding: 1em;
}
.lang {
	font-size: 16px;
	margin: 0 .2em;
	cursor: pointer;
}
.curLang {
	color: #0072ba;
}


#menu {
	margin: 1%;
	display: flex;
	flex-wrap:wrap;
}

.tile {
	text-align:center;
	/* margin: auto; */
}

.tile a {
	display: block;
	margin:10px;
	padding: 10px;
	border-radius: 6px;
    height: 240px;
    width: 240px;
	background:#fff;
	text-decoration:none;
	box-sizing:border-box;
}

.tile a:hover {
	text-decoration: none !important;
    border: 2px solid rgb(0, 121, 193);
    transition: all 0.3s;
    transform: scale(1.05, 1.05);
}

.tile a .img {
	padding-top: 10%;
	height: 60%;
}

.tile a .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tile a .name {
	margin-top: 1em;
	color:#0072ba;
}


